<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h1>For local experiences on air</h1>

        <p class="lead">
          tinyfm enables you to <strong>broadcast podcasts to
          analog radio devices in a tiny spatial range</strong>.
        </p>

        <p>
          For a cost as small as a <strong>Raspberry Pi</strong>…
          and a <strong>wired string</strong>.
        </p>
      </div>

      <div class="col-sm-6 col-sm-push-2">
        <img class="img-responsive" src="assets/img/logo.png" alt="">
      </div>
    </div>
  </div>
</div>